<link rel="stylesheet" href="/public/styles/adminDashboard.css" />
<section>
    <div class="container" id="admin-sidebar"></div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" onClick="toggleMenu();">
                <img width="30px" height="30px" src="/public/icons/bars-solid.png">
            </div>
            <h2>Careers Data</h2>
            <div>
                <button id="new-career" class="btn new">Create New Career</button>
                <button id="alt-career" class="btn new">Add Alternate Titles</button>
                <button id="career-edu" class="btn new">Add Education</button>
                <button id="career-act" class="btn new">Add Activities</button>
            </div>
        </div>

        <div class="details">
            <div class="cardBody">
                <table id="career-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="career-table-body"></tbody>
                </table>

                <div class="container-sect">
                    <div id="pagination-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Load page specific JavaScript -->
<script type="text/javascript" src="/public/utils/adminDashboard.js"></script>
<script type="text/javascript" src="/public/scripts/adminDashboardCareer.js"></script>
