<link rel="stylesheet" href="/public/styles/adminDashboard.css" />
<section>
    <div class="container" id="admin-sidebar"></div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" onClick="toggleMenu();">
                <img width="30px" height="30px" src="/public/icons/bars-solid.png" />
            </div>
            <h2>System Report</h2>
            <div></div>
        </div>

        <div class="details">
            <div class="cardBody">
                <!-- <h1>sys</h1> -->
                <div class="sys-container">
                    <div class="sys highlight">
                        <h4>Users Sign up</h4>
                        <h1>100</h1>
                        <small>per month</small>
                        <ul>
                            <li>25 users marks haven't been uploaded</li>
                            <li>Average of 10 users signed up daily</li>
                            <li>5 users requested password reset</li>
                        </ul>
                    </div>
                    <div class="sys highlight">
                        <h4>Careers</h4>
                        <!-- <small class="green">Most Popular</small> -->
                        <h1>500</h1>
                        <!-- <small>per month</small> -->
                        <ul>
                            <li>Average of 5 careers added daily</li>
                            <li>20 careers with no description</li>
                            <li>5 careers with no alternate titles</li>
                        </ul>
                    </div>
                    <div class="sys highlight">
                        <h4>Registered Schols</h4>
                        <h1>20</h1>
                        <!-- <small>per month</small> -->
                        <ul>
                            <li>Average of 5 careers added daily</li>
                            <li>Custom scripting & scheduling</li>
                            <li>Payment & accounting software integration</li>
                        </ul>
                    </div>
                </div>
                
                <div class="sys-container">
                    <div class="sys highlight">
                        <h4>Courses</h4>
                        <h1>85</h1>
                        <!-- <small>per month</small> -->
                        <ul>
                            <li>Average of 5 careers added daily</li>
                            <!-- <li>Custom scripting & scheduling</li>
                            <li>Payment & accounting software integration</li> -->
                        </ul>
                    </div>
                    <div class="sys highlight">
                        <h4>Industries</h4>
                        <!-- <small class="green">Most Popular</small> -->
                        <h1>450</h1>
                        <!-- <small>per month</small> -->
                        <ul>
                            <li>Average of 5 careers added daily</li>
                            <!-- <li>Custom scripting & scheduling</li>
                            <li>Payment & accounting software integration</li> -->
                        </ul>
                    </div>
                    <div class="sys highlight">
                        <h4>Clusters</h4>
                        <h1>23</h1>
                        <!-- <small>per month</small> -->
                        <ul>
                            <li>Average of 5 careers added daily</li>
                            <!-- <li>Custom scripting & scheduling</li>
                            <li>Payment & accounting software integration</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    h1 {
        letter-spacing: 1px;
    }

    .sys-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sys {
        background-color: #fff;
        border: 1px solid #eee;
        margin: 10px;
        /* margin: .5px; */
        text-align: center;
    }

    .sys.highlight {
        border-top: 2px solid #50bc01;
        box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
    }

    .sys h1 {
        color: #5caefe;
        margin: 30px 0 0;
    }

    .sys h4 {
        margin: 20px 0 0;
    }

    .sys small.green {
        color: #50bc01;
        margin: 0;
    }

    .sys small.green + h1 {
        margin-top: 10px;
    }

    .sys small {
        color: #777;
    }

    .sys ul {
        list-style-type: none;
        padding: 0;
        margin: 40px 0;
    }

    .sys ul li {
        margin: 20px 30px;
        /* max-width: 250px; */
        max-width: 230px;
    }

    .sys button {
        background-color: #5caefe;
        border: 0;
        border-radius: 2px;
        color: #fff;
        padding: 12px 20px;
        margin-bottom: 30px;
    }
</style>

<!-- Load page specific JavaScript -->
<script type="text/javascript" src="/public/utils/adminDashboard.js"></script>
