<link rel="stylesheet" href="/public/styles/adminDashboard.css" />
<section>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title"><h2>Brand Name</h2></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">Careers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">Clusters</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">High Schools</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fab fa-apple"></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" onClick="toggleMenu();"></div>
            <div class="search">
                <label for="">
                    <input type="text" placeholder="search here" />
                    <i class="fas fa-search"></i>
                </label>
            </div>
            <div class="user">
                <img src="/public/images/avatar.png" alt="" />
            </div>
        </div>

        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,042</div>
                    <div class="cardName">Daily Views</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-eye"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Sales</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-eye"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">208</div>
                    <div class="cardName">Comments</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-eye"></i>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">$6,042</div>
                    <div class="cardName">Earning</div>
                </div>
                <div class="iconBox">
                    <i class="fas fa-eye"></i>
                </div>
            </div>
        </div>

        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Customers</h2>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/public/images/avatar.png" alt="img" /></div>
                            </td>
                            <td>
                                <h4>David<br /><span>Italy</span></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Load page specific JavaScript -->
<script type="text/javascript" src="/public/utils/adminDashboard.js"></script>
