<link rel="stylesheet" href="/public/styles/adminDashboard.css" />
<section>
    <div class="container" id="admin-sidebar"></div>

    <div class="main">
        <div class="topbar">
            <div class="toggle" onClick="toggleMenu();">
                <img width="30px" height="30px" src="/public/icons/bars-solid.png">
            </div>
            <h2>Industry</h2>
            <button class="btn delete">Delete Industry</button>
        </div>

        <div class="details">
            <div class="cardBody">
                <div class="profile-page">
                    <!-- HTML forms do not support PUT, PATCH or DELETE actions. So, when defining PUT, PATCH or DELETE routes that are called from an HTML form, you will need to add a hidden _method field to the form. The value sent with the _method field will be used as the HTTP request method: -->
                    <div class="container" style="align-self: flex-start; margin-top: 20px">
                        <div class="header">
                            <h2>Industry</h2>
                        </div>
                        <form class="form" id="adminIndustryAction" action="/api/users" method="PUT">
                            <input type="hidden" name="_method" value="PUT" />
                            <div class="formError"></div>
                            <div class="formSuccess"></div>
                            <div class="form-control">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" />
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                            <button type="submit">Update</button>
                        </form>
                    </div>
                </div>

                <div class="container" style="padding-top: 10px">
                    <h3>Edit the tables below for any changes in careers</h3>
                    <table id="industry-careers-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Careers</th>
                                <th>Percentage Employed</th>
                            </tr>
                        </thead>
                        <tbody id="industry-careers-table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Load page specific JavaScript -->
<script type="text/javascript" src="/public/utils/adminDashboard.js"></script>
<script type="text/javascript" src="/public/scripts/adminIndustryAction.js"></script>
