<link rel="stylesheet" href="/public/styles/adminDashboard.css" />
<section>
    <div class="container" id="admin-sidebar"></div>
    <div class="main">
        <div class="topbar">
            <div class="toggle" onClick="toggleMenu();">
                <img width="30px" height="30px" src="/public/icons/bars-solid.png">
            </div>
            <h2>Industries</h2>
            <button class="btn new">Create New Industry</button>
        </div>

        <div class="details">
            <div class="cardBody">
                <table id="industries-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="industries-table-body"></tbody>
                </table>

                <div class="container-sect">
                    <div id="pagination-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Load page specific JavaScript -->
<script type="text/javascript" src="/public/utils/adminDashboard.js"></script>
<script type="text/javascript" src="/public/scripts/adminDashboardIndustry.js"></script>
