<section>
    <div>courses</div>
    <div id="courses-container"></div>
</section>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 90%;
        border-radius: 5px;
        margin: auto;
        padding: 10px;
    }
    .container,
    .container1 {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 450px;
        max-width: 100%;
        margin: 10px;
    }

    .container {
        width: 650px;
    }

    .container h3 {
        margin: 0;
        letter-spacing: 2px;
        text-align: center;
    }

    .table {
        margin: 20px 0;
        width: 100%;
    }

    .table tr > *:nth-child(1) {
        text-align: left;
    }

    .table tr td:nth-child(1) {
        letter-spacing: 1px;
    }

    .table tr > *:nth-child(2) {
        text-align: center;
    }

    .table tr > *:nth-child(3) {
        font-weight: 300;
        text-align: right;
    }

    .table thead th {
        color: #999;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .table tr td {
        border-bottom: 1px dotted #ccc;
        padding: 10px 0;
    }

    .total {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        border: 2px solid #c23616;
        border-radius: 50px;
        color: #c23616;
        font-size: 16px;
        padding: 5px 15px;
        /* margin: auto; */
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
    left: 82%
        
    }
</style>

<script type="text/javascript" src="/public/scripts/cluster.js"></script>
