<link rel="stylesheet" href="/public/styles/faq.css" />
<section>
    <h1>Frequently Asked Questions</h1>
    <div class="faqs-container">
        <div class="faq active">
            <h3 class="faq-title">How is my personal data handled?</h3>
            <p class="faq-text">
                We firmly believe that you own your data, not us. We never sell your personal data to third parties and
                we use industry-standard best practices, making sure your private information is always encrypted and
                secure. We are also happy to delete your data upon request.
            </p>
            <button class="faq-toggle">
                <img class="fa-chevron-down" width="16px" height="16px" src="/public/icons/chevron-down-solid.png" alt=">" />
                <img class="fa-times" width="16px" height="16px" src="/public/icons/times-white-solid.png" alt=">" />
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">How can I change my password?</h3>
            <p class="faq-text">
                You can change your password at any time by following these steps: <br />
                1. login using your current email address <br />
                2. click “My Account” in the top right <br />
                3. select Settings from the dropdown <br />
                4. select “Change your account login” <br />
                5. enter your current password <br />
                6. enter your new password and then reenter your new password to confirm <br />
                7. select “save” <br />
                Just remember: the next time you log into the website, you'll want to use your new password to log in.
            </p>
            <button class="faq-toggle">
                 <img class="fa-chevron-down" width="16px" height="16px" src="/public/icons/chevron-down-solid.png" alt=">" />
                <img class="fa-times" width="16px" height="16px" src="/public/icons/times-white-solid.png" alt=">" />
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">How much does it cost?</h3>
            <p class="faq-text">
                We want to help everyone learn more about themselves and make informed career decisions, so we’ve made
                the career guidance free. You’ll get your top career matches, insights, and report previews for free.
            </p>
            <button class="faq-toggle">
                 <img class="fa-chevron-down" width="16px" height="16px" src="/public/icons/chevron-down-solid.png" alt=">" />
                <img class="fa-times" width="16px" height="16px" src="/public/icons/times-white-solid.png" alt=">" />
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">Where can I report a broken link on Taaluma?</h3>
            <p class="faq-text">
                Please send a description of the broken link and its location, including the web address of the page it
                is on, to info@taaluma.org.
            </p>
            <button class="faq-toggle">
                 <img class="fa-chevron-down" width="16px" height="16px" src="/public/icons/chevron-down-solid.png" alt=">" />
                <img class="fa-times" width="16px" height="16px" src="/public/icons/times-white-solid.png" alt=">" />
            </button>
        </div>
        <div class="faq">
            <h3 class="faq-title">How can I advertise on Taaluma?</h3>
            <p class="faq-text">Taaluma does not accept advertisements.</p>
            <button class="faq-toggle">
                <img class="fa-chevron-down" width="16px" height="16px" src="/public/icons/chevron-down-solid.png" alt=">" />
                <img class="fa-times" width="16px" height="16px" src="/public/icons/times-white-solid.png" alt=">" />
            </button>
        </div>
    </div>
</section>
<script src="/public/utils/faq.js"></script>
