
<section id="product-overview">
    <h1>Everything you need to kickstart your career.</h1>
</section>

<div class="ro">
    <div class="column">
        <div class="card">
            <img src="/public/images/jobs.png" alt="jobs">
            <h3>3M+</h3>
            <p>Jobs</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img height="65px" src="/public/images/courses.png" alt="courses">
            <h3>55+</h3>
            <p>Courses</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img height="65px" src="/public/images/industries.png" alt="industries">
            <h3>66+</h3>
            <p>Industries</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img height="65px" src="/public/images/new-jobs.png" alt="New careers">
            <h3>100+</h3>
            <p>Emerging Careers</p>
        </div>
    </div>
</div>

<section class="section-features">
    <div class="row">
        <h2>Find the right courses for your perfect career!</h2>
        <p class="long-copy">
            Taaluma Kenya is your one-stop source to explore and discover the world's careers, and to review courses within your chosen field. In Taaluma Kenya, you can learn more about jobs that people do every day, and search for your perfect career by Industry, Career Path or Occupation. For each Occupation, you will find all related Degree courses that will help you gain the skills and qualifications you need to succeed. 
        </p>
    </div>

    <div class="row">
        <div class="col span-1-of-4 box">
            <i class="fas fa-air-freshener icon-big"></i>
            <h3>Performance Analysis</h3>
            <p> Discover a variety of high growth career options that capitalize on your strengths and are on demand globally
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="fas fa-air-freshener icon-big"></i>
            <h3>Industry Discovery</h3>
            <p> You're only twenty minutes away from your delicious and super healthy meals delivered right to your home.
                We work with the best chefs in each town to ensure that you're 100% happy.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="fas fa-air-freshener icon-big"></i>
            <h3>Programme Discovery</h3>
            <p> All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics.
                Good for your health, the environment, and it also tastes better!

            </p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="fas fa-air-freshener icon-big"></i>
            <h3>Occupations Discovery</h3>
            <p> We don't limit your creativity, which means you can order whatever you feel like. You can also choose from
                our menu containing over 100 delicious meals. It's up to you!

            </p>
        </div>
    </div>
</section>

<section class="section-testimonials">
    <div class="row">
        <h2>OUR CUSTOMERS CAN'T LIVE WITHOUT US </h2>
    </div>
    <div class="row" style="display: flex">
        <div class="col span-1-of-3">
            <blockquote>
                It was very comprehensive and it gave me a proper idea of what I would want to do further in life. Counselling was good and it helped me to analyze my potential.
                <cite>
                    <img src="public/images/customer-1.jpg" alt="customer-1-image"> Alberto Duncan
                </cite>
            </blockquote>
        </div>

        <div class="col span-1-of-3">
            <blockquote>
                The report gives clear and thoughtful recommendations about various career options that are clearly best suited to my abilities and interests.
                <cite>
                    <img src="public/images/customer-2.jpg" alt="customer-1-image"> Joana Silva
                </cite>
            </blockquote>
        </div>

        <div class="col span-1-of-3">
            <blockquote>
                I was not clear about what I want to be,after the test what I got is a very specific career recommendations focusing on my strengths and shortfalls along with my interests. I am happy with the in-depth information.
                <cite>
                    <img src="public/images/customer-3.jpg" alt="customer-1-image"> Milton Chapman
                </cite>
            </blockquote>
        </div>
    </div>
</section>

<section class="section-form">
    <div class="row">
        <h2>WE'RE HAPPY TO HEAR FROM YOU</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>Friends</option>
                        <option value="search">Search engine</option>
                        <option value="ad">Advertisement</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="news">Newslatter?</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" id="news" name="news" checked> Yes, please
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="">Drop us a line</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" id="message" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send it!">
                </div>
            </div>
        </form>
</section>

<style>
.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("/public/images/back-customers.jpg");
    background-size: cover;
    color:white;
    background-attachment: fixed;
}

blockquote:before {
    content: "\201C";
    font-size: 450%;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: 1;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    display: block;
    position: relative;
    margin-top: 35px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 10px;

}

cite img {
    height: 45px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.row {
    zoom: 1;
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

.section-testimonials .row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.section-testimonials .col {
    width: 100%;
    margin: 1% 0 1% 0%;
}

.section-testimonials .span-1-of-3 {
    width: 32.26%; 
}

</style>

<style>
    #product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("/public/images/test.jpg") center/cover no-repeat border-box,
    #ff1b68;
  width: 100vw;
  height: 33vh;
  /* border: 5px dashed red; */
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

/* h1 {
    font-family: sans-serif;
} */

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* counter */
/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  /* .row {margin: 0 -5px;} */
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:50px;}

  .avatar {
    padding: 0px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  /* ---------------------- */
/* FEATURES */
/* ---------------------- */

.section-features .long-copy {
    margin-bottom: 25px;
}

.section-features .row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.section-features .row:before,
.section-features .row:after {
    content:"";
    display:table;
}
.section-features .row:after {
    clear:both;
}

.section-features .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.section-features .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-features .col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}

.section-features .box {
    padding: 1%;
}

.section-features .box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .span-1-of-4 {
	width: 23.8%; 
}

@media only screen and (max-width: 480px) {
	.section-features .span-1-of-4 {
		width: 100%; 
	}
}

/* ---------- ICONS ------------ */
.section-features .icon-big {
    display: block;
    font-size: 325%;
    color: #e67e22;
    margin-bottom:10px;
}


/* CONTACT FORM */
.section-form .row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.section-form .contact-form {
    width: 60%;
    margin: 0px auto;
}

.section-form input[type=text],
.section-form input[type=email],
.section-form select,
.section-form textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(206, 206, 206);
}

.section-form textarea {
    height: 100px;
}

.section-form input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.section-form *:focus {outline: none}

.section-form .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.section-form .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}

.section-form .span-1-of-3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .span-1-of-3 {
		width: 100%;
	}
}

.section-form .span-2-of-3 {
	width: 66.13%; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .span-2-of-3 {
		width: 100%; 
	}
}


.row {
    max-width: 1140px;
    margin:0 auto 0 auto;
}


/* Big tablets to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width: 1200px){
    .row {padding: 0 2%;}

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    header .row:first-of-type{
        padding: 0 0;
    }
    .row {
        top: 30%;
        padding: 0 4%;
    }
}
</style>
