<!-- Container for menu items. -->
<div class="card-columns industries-cards" id="industriesContainer"></div>

<style>
    .industry {
        position: relative;
    }
    a.main {
        color: white;
        text-decoration: none;
        display: block;
        z-index: 1;
    }
    a.main::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
    }
</style>

<style>
    .industries-cards {
    /* display: flex;
    padding: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 10px;
}
.industries-cards .card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.industries-cards .container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.industries-cards img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.industries-cards .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.industries-cards .details{
    padding: 20px 10px;
}
.industries-cards .details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.industries-cards .details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
</style>
<!-- Load page specific JavaScript -->
<script type="text/javascript" charset="UTF-8" src="/public/scripts/industriesList.js"></script>
