<link rel="stylesheet" href="/public/styles/userDashboard.css" />
<section id="user-dashboard">
    <div class="dashboard-details">
        <div class="box dark-box">
            <div class="logo">
                <img width="56px" height="56px" src="/public/images/careers-icon.png" alt="career guidance" />
            </div>
            <div class="user-dashboaard-header">
                <h1>Career Guidance</h1>
                <h3>All your careers advice</h3>
            </div>
        </div>

        <a href="/search/career" class="box">
            <div class="text">
                <h2>Careers</h2>
                <p>Search & review careers</p>
            </div>
            <div>
                <img width="50px" height="50px" src="/public/icons/chevron-right-solid.png" alt=">" />
            </div>
        </a>

        <a href="/industries" class="box">
            <div class="text">
                <h2>Industries</h2>
                <p>Browse careers by industry</p>
            </div>
            <div>
                <img width="50px" height="50px" src="/public/icons/chevron-right-solid.png" alt=">" />
            </div>
        </a>

        <a href="/clusters" class="box">
            <div class="text">
                <h2>Clusters</h2>
                <p>Browse careers by clusters</p>
            </div>
            <div>
                <img width="50px" height="50px" src="/public/icons/chevron-right-solid.png" alt=">" />
            </div>
        </a>

        <li class="schoolAccount">
            <a href="/school/dashboard" class="box">
                <div class="text">
                    <h2>School Portal</h2>
                    <p>Upload school Results</p>
                </div>
                <div>
                    <img width="50px" height="50px" src="/public/icons/chevron-right-solid.png" alt=">" />
                </div>
            </a>
        </li>
    </div>
    <aside class="aside-img">
        <img src="/public/images/careers-main.png" alt="man" />
    </aside>
</section>

<!-- Load page specific JavaScript -->
<script src="/public/scripts/userDashboard.js"></script>
