<div class="profile-page">
    <!-- HTML forms do not support PUT, PATCH or DELETE actions. So, when defining PUT, PATCH or DELETE routes that are called from an HTML form, you will need to add a hidden _method field to the form. The value sent with the _method field will be used as the HTTP request method: -->
    <div class="container" style="align-self: flex-start; margin-top: 20px">
        <div class="header">
            <h2>User Profile</h2>
        </div>
        <form class="form" id="userAccountEdit" action="/api/users" method="PUT">
            <input type="hidden" name="_method" value="PUT" />
            <div class="formError"></div>
            <div class="formSuccess"></div>
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="name" id="username" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="username">Email</label>
                <input type="email" name="email" id="email" disabled />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="username">Index Number</label>
                <input type="number" name="indexNumber" id="index-number" />
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <button type="submit">Update Account</button>
        </form>

        <div class="header">
            <h2>User Performance</h2>
        </div>
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
    }
    .profile-page {
        font-family: "Open Sans", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 920px;
        max-width: 100%;
    }

    .header {
        border-bottom: 1px solid #f0f0f0;
        background-color: #f7f7f7;
        padding: 20px 40px;
    }

    .header h2 {
        margin: 0;
    }

    .form {
        padding: 30px 40px;
    }

    .form-control {
        margin-bottom: 10px;
        padding-bottom: 20px;
        position: relative;
    }

    .form-control label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .form-control input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .form-control input:focus {
        outline: 0;
        border-color: #777;
    }

    .form-control.success input {
        border-color: #2ecc71;
    }

    .form-control.error input {
        border-color: #e74c3c;
    }

    .form-control i {
        visibility: hidden;
        position: absolute;
        top: 40px;
        right: 10px;
    }

    .form-control.success i.fa-check-circle {
        color: #2ecc71;
        visibility: visible;
    }

    .form-control.error i.fa-exclamation-circle {
        color: #e74c3c;
        visibility: visible;
    }

    .form-control small {
        color: #e74c3c;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }

    .form-control.error small {
        visibility: visible;
    }

    .form button {
        background-color: #ff1b68;
        border: 2px solid #ff1b68;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-family: inherit;
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
        width: 100%;
    }
</style>

<!-- Load page specific JavaScript -->
<script src="/public/scripts/userAccountEdit.js"></script>
