<link rel="stylesheet" href="/public/styles/auth.css" />

<div class="login-wrapper">
    <form class="form" id="userAccountCreate" action="/api/users" method="POST">
        <img src="/public/images/avatar.png" alt="" />
        <h2>Register</h2>
        <div class="formError"></div>
        <div class="formSuccess"></div>
        <div class="input-group">
            <input type="text" name="name" id="name" required />
            <label for="name">User Name</label>
        </div>
        <div class="input-group">
            <input type="email" name="email" id="email" required />
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" required />
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input type="password" name="confirmPassword" id="loginPassword" required />
            <label for="loginPassword">Confirm Password</label>
        </div>
        <input type="submit" value="sign up" class="submit-btn" />
        <a href="#school-account" class="school-account">School Account?</a>
    </form>

    <div id="school-account">
        <form class="form" id="userSchoolAccountCreate" action="/api/schools" method="POST">
            <a href="#" class="close">&times;</a>
            <h2>School Account</h2>
            <div class="formError"></div>
            <div class="formSuccess"></div>
            <div class="input-group">
                <input type="text" name="name" id="schoolName" />
                <label for="name">School Name</label>
            </div>
            <div class="input-group">
                <input type="number" name="school_code" id="school_code" />
                <label for="school_code">KNEC Code</label>
            </div>
            <div class="input-group">
                <input type="email" name="email" id="schoolEmail" />
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="password" id="schoolPassword" />
                <label for="password">Password</label>
            </div>
            <div class="input-group">
                <input type="password" name="confirmPassword" id="schoolConfirmPassword" />
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <input type="submit" value="Submit" class="submit-btn" />
        </form>
    </div>
</div>

<!-- Load page specific JavaScript -->
<script type="text/javascript" charset="UTF-8" src="/public/scripts/userAccountCreate.js"></script>
