<link rel="stylesheet" href="/public/styles/auth.css" />

<div class="login-wrapper">
    <form class="form" id="userAccountCreate" action="/api/users" method="POST">
        <img src="/public/images/avatar.png" alt="" />
        <h2>Register</h2>
        <div class="formError"></div>
        <div class="formSuccess"></div>
        <div class="input-group">
            <input type="text" name="name" id="name" required />
            <label for="name">User Name</label>
        </div>
        <div class="input-group">
            <input type="email" name="email" id="email" required />
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" required />
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input type="password" name="confirmPassword" id="loginPassword" required />
            <label for="loginPassword">Confirm Password</label>
        </div>
        <input type="submit" value="sign up" class="submit-btn" />
    </form>
</div>

<!-- Load page specific JavaScript -->
<script type="text/javascript" charset="UTF-8" src="/public/scripts/userAccountCreate.js"></script>
