#home-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
        url("/public/images/test.jpg") center/cover no-repeat border-box, #ff1b68;
    width: 100vw;
    height: 33vh;
    position: relative;
}

#home-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

#home-overview::after {
    background-repeat: no-repeat;
    background-image: inherit;
    background-size: cover;
    background-position: right bottom;
    content: "";
    position: absolute;
    bottom: -101%;
    width: inherit;
    height: inherit;
    transform: rotateX(180deg);
}

#home-overview::before {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), #dcdcdc 60%, #ffffff);
    content: "";
    position: absolute;
    bottom: -101%;
    width: inherit;
    height: inherit;
    transform: rotateX(180deg);
    z-index: 100;
}

.about-section {
    display: flex;
    flex-direction: column;
    color: #040f01;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    position: absolute;
    z-index: 101;
    top: 110%;
    font-size: 1.6rem;
}

.about-title {
    padding-top: 20px;
}

.about-details {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

#testimonials-overview {
    /* margin-top: 20%; */
}

.testimonials-container {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 50px;
    transition: all 0.3s ease-in;
    margin: 0px;
    max-width: 100%;
}

.fa-quote-left {
    color: rgba(0, 0, 0, 0.15);
    font-size: 50px;
}

.testimonials-text {
    line-height: 30px;
    margin: 40px 0 20px;
    min-height: 150px;
    max-width: 600px;
    text-align: justify;
    word-spacing: 5px;
}

.testimonials-name {
    align-self: flex-end;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.authors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.author {
    margin: 30px 30px 0;
    cursor: pointer;
}

.author.selected img {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.author img {
    transition: all 0.3s ease-in;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

.wrapper {
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23%;
}
.slider {
    width: 1000px;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
}
.slide {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 30s linear infinite;
}
.slide img {
    height: 70px;
    padding: 0 30px 0 30px;
}
@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slider::before,
.slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
:root {
    --color-pink-1: #ed73c8;
    --color-pink-2: #ff6b96;
}
#contact-overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Muli";
    margin: 30px;
}
.contact-container {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 70px;
    text-align: center;
    width: 600px;
    max-width: 100%;
}

.contact-container h2 {
    margin: 0 0 10px;
    opacity: 0.8;
}

.contact-container p {
    opacity: 0.7;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.contact-container form {
    width: 450px;
    max-width: 100%;
}

.contact-container .wrapper {
    position: relative;
    margin: 10px 0;
    height: 44px;
    width: 100%;
}

.contact-container .wrapper-big {
    height: 80px;
}

.contact-container input,
.contact-container textarea {
    border: none;
    border-radius: 4px;
    font-family: "Muli";
    font-size: 14px;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.contact-container input:focus,
.contact-container textarea:focus {
    outline: 0;
}

.contact-container input:focus + .gradient-bg,
.contact-container textarea:focus + .gradient-bg {
    background: linear-gradient(to right, var(--color-pink-1), var(--color-pink-2));
}

.contact-container .gradient-bg {
    background: #999;
    border-radius: 4px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 9;
}

.contact-container button {
    background: linear-gradient(to right, var(--color-pink-1), var(--color-pink-2));
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(237, 115, 200, 0.5);
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .contact-container {
        padding: 20px 30px;
    }
}

.box {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #000;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 500px;
}

.box h2 {
    margin: 10px 0 0;
}

.box p {
    color: #312940;
    margin: 10px;
}

.box img {
    max-width: 100%;
    width: 400px;
}

.form-control {
    position: relative;
    margin: 30px 0 20px;
}

.input {
    border: 0;
    border-radius: 50px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    display: block;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    width: 100%;
}

.btn {
    background-color: #e75480;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.input:focus,
.btn:focus {
    outline: 0;
}
