#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("/public/images/test.jpg") center/cover no-repeat border-box,
    #ff1b68;
  width: 100vw;
  height: 33vh;
  /* border: 5px dashed red; */
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

/* h1 {
    font-family: sans-serif;
} */

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* counter */
/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  /* .row {margin: 0 -5px;} */
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }
  
  .fa {font-size:50px;}

  .avatar {
    padding: 0px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  /* ---------------------- */
/* FEATURES */
/* ---------------------- */

.section-features .long-copy {
    margin-bottom: 25px;
}

.section-features .row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.section-features .row:before,
.section-features .row:after {
    content:"";
    display:table;
}
.section-features .row:after {
    clear:both;
}

.section-features .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.section-features .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-features .col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}

.section-features .box {
    padding: 1%;
}

.section-features .box p {
    font-size: 90%;
    line-height: 145%;
}

.section-features .span-1-of-4 {
	width: 23.8%; 
}

@media only screen and (max-width: 480px) {
	.section-features .span-1-of-4 {
		width: 100%; 
	}
}

/* ---------- ICONS ------------ */
.section-features .icon-big {
    display: block;
    font-size: 325%;
    color: #e67e22;
    margin-bottom:10px;
}


/* CONTACT FORM */
.section-form .row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.section-form .contact-form {
    width: 60%;
    margin: 0px auto;
}

.section-form input[type=text],
.section-form input[type=email],
.section-form select,
.section-form textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(206, 206, 206);
}

.section-form textarea {
    height: 100px;
}

.section-form input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.section-form *:focus {outline: none}

.section-form .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.section-form .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}

.section-form .span-1-of-3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .span-1-of-3 {
		width: 100%;
	}
}

.section-form .span-2-of-3 {
	width: 66.13%; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.section-form .span-2-of-3 {
		width: 100%; 
	}
}


.row {
    max-width: 1140px;
    margin:0 auto 0 auto;
}


/* Big tablets to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width: 1200px){
    .row {padding: 0 2%;}

}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    header .row:first-of-type{
        padding: 0 0;
    }
    .row {
        top: 30%;
        padding: 0 4%;
    }
}

.industries-cards {
    /* display: flex;
    padding: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 10px;
}
.industries-cards .card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.industries-cards .container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.industries-cards img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.industries-cards .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.industries-cards .details{
    padding: 20px 10px;
}
.industries-cards .details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.industries-cards .details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
